body{
        margin: 0px;
        padding: 0px;
        font-family: Okra, Helvetica, sans-serif;
    }
    nav{
        background-image: url(../IMAGE/nav\ back.avif);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 0px 50px 0px;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    li{
        display: inline-block;
        /* align-items: center; */
        margin-right:30px;
        font-size: 25px;
    }
    li>a{
        list-style:none ;
        text-decoration: none;
        color: white;
    }
    .navbar .topic>h4{
        color: white;
    }
    .content h1 {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 85px;
        margin-bottom:15px;
    }
    .content p{
        display: flex;
        justify-content: center;
        color: white;
        font-size:40px;
        margin-top: 0;
    }
    .content .con2{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        /* position: absolute; */
    }
    @media screen and (max-width:600px)
    {
        .nav{
            padding: 0px 0px 20px 0px ;
        }
        .navbar ul{
            display: none;
        }
        .content h1{
            text-align: center;
        }
        .content p{
            text-align: center;
        }
        .content .con2{
            display: block;
        }
    }
    .total{
        justify-content:space-around;
        display: block;
        background-color:transparent;
        margin:0px 50px 0px 50px;
    }
    .con2 #inp1{
        height: 60px;
        /* padding: 5px; */
        padding-left: 45px;
        border: transparent;
        border-radius: 10px 0px 0px 10px;
    }
    @media screen and (max-width:700px)
    {
        .con2 #inp1{
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px 20px 20px 20px;
            /* position: absolute; */

        }
        .con2 #loc
        {
            position: absolute;
            top: 395px;
            left: 150px;
            
        }
        .con2 #search
        {
            position: absolute;
            left: 50px;
            top: 465px;
        }
        .con2 #inp{
            display: flex;
            padding: 0px 0px ;
            margin-left: auto;
            margin-right: auto;
            /* border-radius:0px */
            
        }
    }
    /* .con2 #loc{
        position: absolute;
        left: 1000px;
    } */
    .con2 #inp{
        /* width: 500px; */
        padding: 20px 200px 20px 50px;
        border: transparent;
        border-radius: 0px 10px 10px 0px;
        /* position: absolute; */
    }
    #loc{
        position: absolute;
        left: 370px;
        top: 350px;
    }
    #search{
        display: flex;
            position: absolute;
            left: 590px;
            top: 353px;
        }
    .cards{
        display: flex;
        justify-content:space-around;
        /* margin: 20px; */
        flex-wrap:wrap;
    }
    .card{
        background-color:white;
        width: 350px;
        height:250px;
        margin: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        overflow: hidden;
    }
    .card:hover{
        /* background-color: gray; */
        color: white;
        cursor: pointer;
        transform: scale(1.08);
        transition: all 0.3s ease;
    }

    a{
        text-decoration: none;
        color: black;
    }
    .img{
        background-color:white;
        height: 150px;
        margin-bottom:0px;
        border-radius: 10px 10px 0 0;
    }
    .back-1{
        background-image: url(../IMAGE/card\ 1.avif);
        background-size: cover;
    }
    .back-2{
        background-image: url(../IMAGE/card\ 2.avif);
        background-size: cover;
    }
    .back-3{
        background-image: url(../IMAGE/card\ 3.avif);
        background-size: cover;
    } 
    #c-head{
        margin-left:15px;
        font-size: 25px;
        font-weight:bolder;
        color: rgb(58, 57, 57);
        margin-bottom: 5px;
        margin-top: 8px;
    }
    #c-para{
        margin-top: 1px;
        margin-left: 15px;
        font-size: 20px;
        font-weight: 50px;
    }
    .cards-1{
        /* padding-left:110px; */
        justify-content: space-around;
    }
    .cards-1 h2{
        font-weight: 500;
        font-size: 30px;
    }
    .cont{
        display: flex; 
        justify-content: space-between;       
    }
    .cont a{
        padding-left: 100px;
        color: palevioletred;
    }
    .cont .lsdjf{
        font-weight: 500;
        font-size: 20px;
        margin-top: 2px;
    }
    .fcards{
       display: flex;
       justify-content:space-around;
       flex-wrap: wrap;
    }
    .fcards .img1 img{
        margin-right: 15px;
        border-radius: 10px;
    }
    .part3{
        display: flex;
        /* justify-content: center; */
        /* align-items: flex-start; */
        margin-top: 50px;
    }
    .part3 h2{
        font-weight: 500;
        font-size: 30px;
    }
    .total .place{
        /* display: grid;
        grid-template-areas: 't1 t1 t2 t2 t3 t3' 't4 t4 t5 t5 t6 t6' 't7 t7 t8 t8 t9 t9';
        justify-content:space-around;
        margin-bottom: 90px;
        padding: 10px; */
        display: flex;

    }
    .pla{
        display: flex;
        justify-content: space-around;
    }
    .place .p1{
        /* background-color: black; */
        border: 1px solid white;
        box-shadow: 1px 1px 5px 1px  gray;
        border-radius: 10px;
        margin: 10px 10px 10px 10px;
        padding: 0px 180px 8px 8px ;
        
    }
    .place .p1 p{
        margin-top: 1px;
    } 
    .sec{
        background-color: rgb(249, 241, 243);
        display: flex;
        padding: 30px 80px 50px 200px;
        justify-content: center;
    }
    .sec .c-sec{
        margin-top: 50px;
    }
    @media screen and (max-width:600px) {
        .sec .c-sec img{
            visibility: hidden;
            display: none;
        }
    }
    .c-sec2{
        display: block;
    }
    .c-sec2 h2{
        font-weight: 500;
        font-size: 50px;
        margin-bottom: 2px;
    }
    .c-sec2 p{
        font-size: 25px;
        font-weight:10px;
        color: gray;
        /* margin-top: 4px; */
    }
    .inp{
        margin-bottom: 15px;
    }
    .c-sec2 .inp input{
        width: 30px;
        height: 20px;
    }
    .c-sec2 .inp label{
        font-size: 20px;
    }
    .inp2 input{
        height: 50px;
        width: 400px;
        border-radius: 10px;
        border: 1px solid gray;
        padding-left: 20px;
        font-size: 20px;
    }
    .inp2 button{
        background-color: red;
        padding: 18px;
        font-size:15px;
        border-radius: 10px;
        border: transparent;
        color: white;
    }
    .c-sec2 h5{
        font-weight: 200;
        font-size: 20px;
    }
    .c-sec2 .logo{
        display: flex;
    }
    .c-sec2 .logo .img1{
        padding-right: 5px;
    }
    .c-sec2 .logo img{
        width: 200px;
    }
.exp-1 .exps{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.exp-1 .exps h1{
    font-weight: 500;
    font-size: 30px;
}
.exps{
    display: flex;
    padding: 20px;
}
.exps .exp{
    background-color:white;
    border: 1px solid rgb(171, 169, 169);
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
    display: flex;
}
.exp{
    display: flex;
    justify-content: space-between;
}
.exp h2{
    font-weight: 200;
}
.exp .icon{
    align-items:center;
    margin-top: 25px;
    margin-right: 20px;
}
.last{
    background-color: rgb(227, 227, 248);
    padding: 30px 50px 30px 50px;
}    
.last .first{
    display: flex;
    justify-content: space-between;
}
.first h1{
    font-size: 50px;
    letter-spacing: 5px;
}
.first .select{
    display: flex;
    /* justify-content:; */
    align-items: center;
}
.first .select .s1{
    padding-right: 10px;
}
.select .s1 select{
    padding: 5px 25px 5px 10px;
    border-radius: 5px;
    font-size: 20x;
    /* margin-bottom: 10px; */
}
.s1 option{
    margin-bottom: 5px;
    font-size: 20px;
}
.s1 #sel{
    font-size: 20px;
    font-weight: 400;
    border: transparent;

}
.last .f-con{
    display: flex;
    justify-content: space-between;
}
.last .f-con .cont-1{
    
    font-size: 17px;
}
.cont-1 h5{
    letter-spacing: 1.5px;
    font-weight:500;

}
.cont-1 .f-icon 
{
    margin-bottom: 20px;
}
.f-icon i{
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 50%;
}
.cont-1 .icon-img{
    display:grid;
}
.cont-1 .icon-img img{
    width: 120px;
}
.icon-img img{
    margin-bottom: 10px;
}
.last #last-p{
    color: gray;
    letter-spacing: 1px;
}
